<p>
  <mat-toolbar>
    <button
      mat-icon-button
      class="example-icon"
      aria-label="Example icon-button with menu icon"
    >
      <mat-icon>menu</mat-icon>
    </button>
    <span>Angular Material Components</span>
  </mat-toolbar>
</p>
<mat-card class="material">
  <mat-tab-group
    dynamicHeight
    [(selectedIndex)]="tabIndex"
    (selectedTabChange)="tabChange($event)"
  >
    <mat-tab label="Auto Complete"> </mat-tab>
    <mat-tab label="Badge"></mat-tab>
    <mat-tab label="Bottom Sheet"></mat-tab>
    <mat-tab label="Button"></mat-tab>
    <mat-tab label="Card"></mat-tab>
    <mat-tab label="Check Box"></mat-tab>
    <mat-tab label="Chip Autocomplete"> </mat-tab>
    <mat-tab label="Date Picker"></mat-tab>
    <mat-tab label="Dialog"></mat-tab>
    <mat-tab label="Expansion Panel"> </mat-tab>
    <mat-tab label="Form Field"></mat-tab>
    <mat-tab label="Grid List"></mat-tab>
    <mat-tab label="Paginator"></mat-tab>
    <mat-tab label="Progress Bar"></mat-tab>
    <mat-tab label="Slide Toggle"></mat-tab>
    <mat-tab label="Tabs"></mat-tab>
    <mat-tab label="Toolbar"> </mat-tab>
    <mat-tab label="Tree"></mat-tab>
    <mat-tab label="Stepper"></mat-tab>
  </mat-tab-group>
</mat-card>
<router-outlet></router-outlet>
